$white: #fff;
$black: #000;
$background-grey: #f2f2f2;
$light-grey: #f5f6f7;
$main-grey: #949ea0;
$dark-grey: #334144;
$black-grey: #334144;
$border-grey: #dfe5ea;
$coral: #df9186;
$coral-light: #ecbcb3;
$coral-dark: #eaa79e;
$button-shadow: #eaa89f;
